<form class="editable flexcol templatemacro" autocomplete="off">
  <header class="sheet-header">
    <h1>
      <input name="name" type="text" value="{{name}}" disabled>
    </h1>
  </header>

  <!-- navigation -->
  <nav class="sheet-tabs tabs" aria-role="Form Tab Navigation">
    {{#each triggers as |trigger|}}
    <a class="trigger" data-tab="{{trigger.type}}">{{trigger.label}}</a>
    {{/each}}
  </nav>

  <!-- tabs -->
  <div class="content-tabs">
    {{#each triggers as |trigger|}}
    <div class="tab" data-tab="{{trigger.type}}">
      <div class="form-group stacked command" data-type="{{trigger.type}}">
        <div class="command-line">
          <label>{{localize "Command"}}</label>
          <div class="as-gm">
            <label>{{localize "TEMPLATEMACRO.AS_GM"}}</label>
            <input type="checkbox" name="flags.templatemacro.{{trigger.type}}.asGM" {{checked trigger.asGM}}>
          </div>
        </div>
        <textarea name="flags.templatemacro.{{trigger.type}}.command">{{trigger.command}}</textarea>
      </div>
    </div>
    {{/each}}
  </div>

  <footer class="sheet-footer flexrow">
    <button type="submit">
      <i class="fa-solid fa-save"></i> {{localize "Save"}}
    </button>
  </footer>
</form>
